@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
@mixin flex {
    display: flex;    
    flex-wrap: wrap;
}
@mixin  bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}