.testimonials__container {
    padding-bottom: 79px;
}
.testimonials__title {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin: 0;
    text-align: center
}
.testimonials__list {
    @include reset-list;
    @include flex;
    justify-content: center;
    padding-top: 80px;
}
.testimonials__item {
    text-align: center;
    width: 260px;
    margin-right: 115px;
}
.testimonials__item:last-child {
    margin-right: 0;
}